header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6b2d0f;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    z-index: 1000;
}

.links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.links a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    border-bottom: 3px solid transparent;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.links a:hover {
    border-bottom: 3px solid #fff;
    color: #fff;
    transform: scale(1.05);
}

.logo img {
    height: 150px;
    width: 150px;
    margin-left: 100px;
    border-radius: 50%;
}

body {
    background-color: rgb(252, 252, 252);
}

.img-fundo {
    width: 100%;
    height: auto;
    left: 0;
}

.introducao-site {
    padding: 2% 0 0 5%;
    width: 50%;
}