* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #6b2d0f;
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;

}

.links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.links a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
    border-bottom: 3px solid transparent;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}

.links a:hover {
    border-bottom: 3px solid #fff;
    color: #fff;
    transform: scale(1.05);
}

.logo img {
    height: 150px;
    width: 150px;
    margin-left: 100px;
    border-radius: 50%;
}

body {
    background-color: beige;
}

main {
    display: flex;
    justify-content: center;
}

main .cardapio {
    display: flex;
}

.cardapio {
    display: flex;
    min-width: 1200px;
    flex-direction: column;
    background-color: rgb(243, 242, 242);
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    flex-wrap: wrap;
    justify-content: center;
    margin: 200px 300px;
    padding: 50px;
}

.cardapio .cardapio-title img {
    width: 80px;
    height: 80px;
    margin-left: 30px;
}

.cardapio .cardapio-title h1 {
    display: flex;
    justify-content: center;
}

hr {
    width: 250px;
    height: 3px;
    background-color: #6b2d0f;
    border-radius: 30px;
    border: none;
    margin-top: 15px;
}

.line {
    width: 400px;
    height: 2px;
    background-color: #6b2e0fb0;
    border-radius: 30px;
    border: none;
}

.cardapio .line-end {
    width: 300px;
    height: 3px;
    background-color: #6b2d0f;
    border-radius: 30px;
    border: none;
    margin: 45px 0 45px 400px;
}

.cardapio h1 {
    font-size: 45px;
}

.cardapio .pizzas .pizzas-text {
    margin-top: -30px;
}

.cardapio .bebidas .bebidas-text {
    margin-top: -30px;
}

.cardapio .sucos .bebidas-text {
    margin-top: -30px;
}

h3 {
    margin-top: 20px;
    font-size: 25px;
}

img {
    width: 300px;
    height: auto;
    border-radius: 10px;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.refri .item {
    display: flex;
    flex-direction: column;
}

.cardapio .pizzas h1 {
    margin-top: 25px;
}

.cardapio .pizzas p {
    margin-top: 50px;
}

.cardapio .item .text {
    margin-top: 10px;
    max-width: 150px;
}

.cardapio .item .img {
    margin-top: 60px;
}

.cardapio .item h2 {
    margin-top: 50px;
}

.cardapio .bebidas h1 {
    margin-top: 25px;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardapio .bebidas h1 {
    margin-top: 25px;
}

.cardapio .bebidas p {
    margin-top: 50px;
}

.cardapio .bebidas .text {
    max-width: 150px;
}

.cardapio .bebidas .img {
    margin-top: 60px;
}

.cardapio .bebidas h2 {
    margin-top: 50px;
}

@media (min-width: 769px) and (max-width: 1024px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #6b2d0f;
        position: fixed;
        top: 0;
        max-width: 1000px;
        height: 150px;

    }

    .logo img {
        height: 150px;
        width: 150px;
        margin-left: 40px;
        border-radius: 50%;
    }

    body {
        background-color: beige;
    }

    main {
        display: flex;
        justify-content: center;
    }

    main .cardapio {
        display: flex;
    }

    .cardapio {
        display: flex;
        min-width: 750px;
        flex-direction: column;
        background-color: rgb(243, 242, 242);
        border-radius: 10px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        flex-wrap: wrap;
        justify-content: center;
        margin: 200px 300px;
        padding: 50px;
    }

    .cardapio .cardapio-title img {
        width: 50px;
        height: 50px;
        margin-left: 30px;
    }

    .cardapio .cardapio-title h1 {
        display: flex;
        justify-content: center;
        font-size: 200%;
    }

    hr {
        width: 250px;
        height: 3px;
        background-color: #6b2d0f;
        border-radius: 30px;
        border: none;
        margin-top: 15px;
    }

    .line {
        width: 250px;
        height: 3px;
        background-color: #6b2e0fb0;
        border-radius: 30px;
        border: none;
    }

    .cardapio .line-end {
        width: 250px;
        height: 3px;
        background-color: #6b2d0f;
        border-radius: 30px;
        border: none;
        margin: 30px 0 20px 200px;
    }

    .cardapio h1 {
        font-size: 35px;
    }

    .cardapio .pizzas .pizzas-text {
        margin-top: -30px;
        font-size: 15px;
    }

    .cardapio .bebidas .bebidas-text {
        margin-top: -30px;
        font-size: 15px;
    }

    .cardapio .sucos .bebidas-text {
        margin-top: -30px;
        font-size: 15px;
    }

    h3 {
        margin-top: 20px;
        font-size: 20px;
    }

    img {
        width: 225px;
        height: auto;
        border-radius: 10px;
    }

    .item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .refri .item {
        display: flex;
        flex-direction: column;
    }
}